<p>variables works!</p>
<img src="./assets/asdf.png">
<pre>

    <!-- 
    one way data binding
    interpolation
    expressions
    
-->
    {{a}}
    {{b}}

    {{fname}}
    {{age}}
    {{fruits}}
    {{fruits[1]}}
    {{user}}
    {{user | json}}
    {{user.exp}}

    ++ {{gender}} 
    ** {{interest}}
    -- {{undf}}

    a+b :: {{a+b}}
    a-b :: {{a-b}}
    a*b :: {{a*b}}
    a/b :: {{a/b}}
    a%b :: {{a%b}}


    2+3 :: {{2+3}}
    2-3 :: {{2-3}}
    2*3 :: {{2*3}}
    2/3 :: {{2/3}}
    2%3 :: {{2%3}}
</pre>